body{
    background-color: rgba(192, 159, 97, 0.815);
}

h2 {
    color: rgb(5, 5, 121);
    margin-top: 4%;
    text-align: center;
}

#buttons {
    text-align: center;
}

#photos {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   5px;
    -moz-column-count:    5;
    -moz-column-gap:      5px;
    column-count:         5;
    column-gap:           5px;  
  }
  
  #photos img {
    width: 100% !important;
    height: auto !important; 
    margin-bottom: 5px;
  }